/* Utility styles */
.block {
  display: block;
}
.hide {
  display: none;
}
.force-hide {
  display: none !important;
}
.flex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.between {
  display: flex;
  justify-content: space-between;
}
.align-center {
  align-items: center;
}
.flex-grow {
  flex-grow: 1;
}
.my-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}
.mv-24 {
  margin-top: 24px;
  margin-bottom: 24px;
}
.mr-16 {
  margin-right: 16px !important;
}
.mr-4 {
  margin-right: 4px !important;
}
.mt-56 {
  margin-top: 56px;
}
.mb-8 {
  margin-bottom: 8px !important;
}
.mb-16 {
  margin-bottom: 16px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mb-32 {
  margin-bottom: 32px !important;
}
.m-0 {
  margin: 0 !important;
}
.mr-0 {
  margin-right: 0 !important;
}
.pb-24 {
  padding-bottom: 24px;
}
.bg-grey {
  background-color: #f5f5f5;
}
.bg-dark-grey {
  background-color: #f5f5f5;
}
.bg-black {
  background-color: #101215;
}
.bg-green {
  background-color: #11bb22 !important;
}
.text-grey {
  color: #4d5c6a;
}
.text-bold {
  font-weight: 600;
}

/* Element styles */
body {
  background-color: #fff;
}

.body-modal {
  position: fixed;
  overflow: hidden;
  width: 100%;
}
.App {
  /* max-width: 1440px; */
  min-height: 100vh;
  margin: auto;
  background-color: #fff;
}
.section-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}
header {
  position: absolute;
  top: 0;
  width: 100%;
}
.header-container {
  display: flex;
  margin: 0;
  width: 100%;
  max-width: 1440px;
  height: 88px;
  padding: 0 96px;
}
.logo {
  box-sizing: border-box;
  display: flex;
  align-items: center;
  width: 50%;
  padding: 20px 0;
}
.nav-bar {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 24px 0;
  box-sizing: border-box;
}
.nav-bar-link {
  font-family: Source Sans Pro;
  font-size: 18px;
  line-height: 24px;
  padding: 8px 0;
}
.header-block {
  margin: 0px 16px;
}
.nav-bar-link:hover {
  border-bottom: 1px solid #6746ec;
}
.separator {
  display: inline-block;
  width: 1px;
  height: 24px;
  background-color: #c4c4c4;
  margin: 0px 16px;
}
.showcase {
  display: flex;
}
.hero-wrapper {
  background-color: #dbe2e9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  width: 50%;
  height: 100vh;
  max-height: 960px;
  padding-left: 96px;
  max-width: 50%;
  box-sizing: border-box;
}
.hero {
  max-width: 720px;
  padding: 96px 96px 78px 0;
  width: 100%;
  box-sizing: border-box;
}
.filter-wrapper {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
  width: 50%;
  height: 100vh;
  max-height: 960px;
  padding: 96px 48px 24px;
  box-sizing: border-box;
}
.filter-section {
  margin: 24px 0px;
  max-width: 720px;
  width: 100%;
}
.options-wrapper {
  display: flex;
  flex-wrap: wrap;
}
.filter-button {
  background-color: #f5f5f5;
  border: 1px solid #dbe2e9;
  box-sizing: border-box;
  font-size: 18px;
  padding: 16px 24px;
  border-radius: 8px;
  margin: 8px 8px 0px 0px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.filter-button:hover {
  background-color: #dbe2e9;
  cursor: pointer;
}
.filter-button-selected {
  background-color: #6746ec;
  color: #fff;
}
.filter-button-selected:hover {
  background-color: #502fd2;
}
.form-item {
  background-color: #fff;
  border: 1px solid #dbe2e9;
  box-sizing: border-box;
  font-size: 18px;
  padding: 16px 24px;
  border-radius: 8px;
  margin: 8px 8px 0px 0px;
  transition: cubic-bezier(0.165, 0.84, 0.44, 1) 0.3s;
}
.request-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6746ec;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 24px;
  border-radius: 8px;
  margin: 32px 0px;
  color: #fff;
  cursor: pointer;
  width: max-content;
  border: none;
}
.button-secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #6746ec solid 1px;
  box-sizing: border-box;
  font-size: 18px;
  font-weight: 600;
  padding: 16px 24px;
  border-radius: 8px;
  margin: 32px 0px;
  cursor: pointer;
  width: max-content;
}
.button-primary-small {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #6746ec;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 16px 0 0 0;
  color: #fff;
  cursor: pointer;
  width: 100%;
  border: none;
}
.button-secondary-small {
  display: flex;
  justify-content: center;
  align-items: center;
  border: #6746ec solid 1px;
  background-color: #fff;
  box-sizing: border-box;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 16px;
  border-radius: 8px;
  margin: 16px 0 0 0;
  cursor: pointer;
  width: 100%;
}
.results {
  background-color: #f5f5f5;
  width: 100%;
  max-width: 1440px;
  border-radius: 8px;
  padding: 24px 32px;
  box-sizing: border-box;
}
.tag {
  border: #dbe2e9 solid 1px;
  background-color: #f5f5f5;
  width: fit-content;
  padding: 2px 8px 4px;
  border-radius: 8px;
}
.tutors-cta {
  width: 100%;
  margin-bottom: 96px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-items: center;
  padding: 0 16px 24px;
  box-sizing: border-box;
}

.arrow-icon {
  margin-left: 16px;
}
.hero-img-wrapper {
  margin-bottom: 32px;
}
.about-section {
  padding: 72px 96px;
  background-color: #fff;
  width: 100%;
  max-width: 1440px;
}
.class-card {
  border: #dbe2e9 solid 1px;
  background-color: #fff;
  border-radius: 8px;
  padding: 16px;
  margin-left: 16px;
  min-width: 240px;
}
.class-card:first-child {
  margin-left: 0px;
}
.about {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}
.about-card {
  width: 320px;
}
.card-header {
  margin: 16px 0px;
}
.pricing-section {
  display: flex;
  padding: 72px 96px;
  width: 100%;
  max-width: 1440px;
}
.price {
  display: block;
  font-size: 48px;
  font-weight: 600;
  margin-top: 32px;
}
.pricing-points {
  margin: 32px 0px;
}
.pricing-img-wrapper {
  margin: 0 auto;
  height: 100%;
}
.pricing-img-wrapper img {
  height: 75%;
}
.footer {
  /* position: absolute;
  bottom: 0;
  box-sizing: border-box;
  width: 100%; */
  display: flex;
  justify-content: space-between;
  padding: 32px 72px;
  width: 100%;
  max-width: 1440px;
  background-color: #101215;
}
.footer-logo {
  object-fit: contain;
}
.telegram-link {
  color: #fff;
  display: flex;
  font-size: 18px;
}
.telegram-text {
  margin-left: 8px;
}
.modal-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #00000099;
}
.modal {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 720px;
  padding: 24px 32px;
  background-color: #fff;
  border-radius: 8px;
}
.form-output-wrapper {
  margin: 24px 0px;
  padding: 24px;
  background-color: #f5f5f5;
  border-radius: 8px;
}
.form-output {
  display: flex;
}
.close-button {
  position: absolute;
  top: 16px;
  right: 24px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.contact-input-wrapper {
  margin-top: 8px;
  padding: 16px;
  background-color: #f5f5f5;
  border: 1px solid #dbe2e9;
  border-radius: 8px;
}
.contact-input {
  width: 100%;
  border: none;
  background-color: transparent;
  outline: none;
  font-size: 18px;
}
.invalid-input {
  border-color: #bb2e2e;
}
#success {
  margin: auto;
  width: fit-content;
  text-align: center;
}

.bold {
  font-weight: 600;
}

.paragraph {
  margin-bottom: 8px;
  line-height: 20px;
}

/* Mobile styles */
@media screen and (max-width: 1279px) {
  .showcase {
    flex-wrap: wrap;
  }
  .header-container {
    justify-content: space-between;
    padding: 0px 16px;
    box-sizing: border-box;
  }
  .hero-wrapper {
    max-width: 100%;
    max-height: 720px;
    align-items: center;
    width: 100%;
    text-align: center;
    padding: 32px 16px;
  }
  .hero {
    max-width: 720px;
    padding: 96px 16px;
    width: 100%;
    box-sizing: border-box;
  }
  .hero img {
    max-width: -webkit-fill-available;
  }
  .hero h1 {
    font-size: 24px;
  }
  .filter-wrapper {
    max-width: 100%;
    width: 100%;
    padding: 32px 16px;
    align-items: center;
  }
  .nav-bar {
    width: auto;
    padding: 0;
  }
  .header-block {
    margin: 0;
    margin-top: -5px;
  }
  .nav-bar > div:not(:last-child) {
    display: none;
  }
  .logo {
    width: auto;
    padding: 0;
  }
  .request-button {
    width: 100%;
  }
  .about-section {
    padding: 32px 16px;
  }
  .about {
    flex-direction: column;
  }
  .about-card {
    width: auto;
    margin: 16px 0px;
  }
  .pricing-section {
    width: 100%;
    flex-direction: column-reverse;
    padding: 32px 16px;
  }
  .pricing-img-wrapper {
    max-height: 240px;
    padding-top: 24px;
  }
  .pricing-img-wrapper img {
    max-width: 100%;
    margin-bottom: 32px;
  }
  .footer {
    padding: 32px 16px;
    flex-direction: column-reverse;
  }
  .telegram-link {
    justify-content: center;
  }
  .footer-logo {
    object-fit: none;
  }
  .modal-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #00000099;
    overflow: scroll;
  }
  .modal {
    position: static;
    top: 0;
    left: 0;
    transform: none;
    width: 100%;
    padding: 24px 32px;
    background-color: #fff;
    border-radius: 0px;
    box-sizing: border-box;
    min-height: 100vh;
  }
  .close-button {
    top: 12px;
    right: 16px;
  }
  .modal h1 {
    font-size: 24px;
  }
  .modal h2 {
    font-size: 18px;
  }
  .form-output {
    flex-direction: column;
    align-items: flex-start;
  }
  .contact-form {
    flex-direction: column;
  }
  .contact-form > div {
    margin: 16px auto 16px 0px;
  }
  .tutors-cta {
    margin-bottom: 0;
  }
}
